@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-cyan-200;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;

  &.search,
  &.list,
  &.pokemon {
    background-image: url("../../assets/background/pokedex-bg.jpeg");
  }
}
